<mat-drawer-container [hasBackdrop]="true">
  <!-- Sidebar -->
  <mat-drawer #drawer [mode]="sidenavOpenMode">
    <app-sidebar (onSelectedMenu)="drawer.toggle()"></app-sidebar>
  </mat-drawer>
  <!-- Page content -->
  <mat-drawer-content>
    <mat-toolbar color="default" class="header-toolbar">
      <button mat-icon-button class="header-icon" aria-label="Menu" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ headerTitle }}</span>
    </mat-toolbar>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>