@import "src/styles/colors.scss";

section {
  display: block;
  padding-left: 17.5px;
  margin-top: 25.5px;
  margin-bottom: 12.5px;

  .title {
    color: $app-primary;
    text-transform: uppercase;
    font-weight: 500;
  }
}