@import "src/styles/colors.scss";
@import "src/styles/template.scss";

.container {

    &__header {
        display: flex;
    }

    &__content {

        .grid-publicacoes {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

// Media query
@media only screen and (max-width: 1460px) {
    
    .grid-publicacoes { grid-template-columns: 1fr 1fr 1fr 1fr; }
}
@media only screen and (max-width: 1150px) {
    
    .grid-publicacoes { grid-template-columns: 1fr 1fr 1fr; }
}
@media only screen and (max-width: 880px) {
    
    .grid-publicacoes { grid-template-columns: 1fr 1fr; }
}
@media only screen and (max-width: 600px) {

    .grid-publicacoes { grid-template-columns: 1fr; }
}
// Media query default para componentes
@media only screen and (max-width: $md-port-w-screen) {

}