<div class="container">
  <div *ngFor="let contato of contatos" [ngSwitch]="contato.tipo_contato_id">
    <mat-nav-list>
      <!-- TELEFONE -->
      <a mat-list-item (click)="openLink($event)" *ngSwitchCase="1">
        <div class="icon">
          <img src="assets/utils/telefone-icon.png" alt="whatsapp-icon">
        </div>
        <div class="label ml-20">
          <span mat-line>Telefone</span>
          <span mat-line class="label__description">
            {{contato.conteudo | telefone}}
          </span>
        </div>
      </a>

      <!-- WHATSAPP -->
      <a href="https://api.whatsapp.com/send?phone=55{{contato.conteudo}}&text=Olá, estou interessado em seu produto {{data.titulo}} anunciado na University Market."
        mat-list-item (click)="openLink($event)" *ngSwitchCase="2">
        <div class="icon">
          <img src="assets/utils/whatsapp-logo.png" alt="whatsapp-icon" class="filter-shadow">
        </div>
        <div class="label ml-20">
          <span mat-line>Whatsapp</span>
          <span mat-line class="label__description">
            Converse diretamente com o vendedor
          </span>
        </div>
      </a>

      <!-- TELEGRAM -->
      <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)" *ngSwitchCase="3">
        <div class="icon">
          <img src="assets/utils/telegram-logo.png" alt="telegram-icon">
        </div>
        <div class="label ml-20">
          <span mat-line>Telegram</span>
          <span mat-line class="label__description">
            Converse diretamente com o vendedor
          </span>
        </div>
      </a>

      <!-- GMAIL -->
      <a href="mailto:{{contato.conteudo}}" mat-list-item (click)="openLink($event)" *ngSwitchCase="4">
        <div class="icon">
          <img src="assets/utils/gmail-logo.png" alt="gmail-icon">
        </div>
        <div class="label ml-20">
          <span mat-line>E-mail via Gmail</span>
          <span mat-line class="label__description">
            Envie suas dúvidas ao vendedor
          </span>
        </div>
      </a>

      <!-- OUTLOOK -->
      <!-- <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
      <div class="icon">
        <img src="assets/utils/outlook-logo.png" alt="outlook-icon">
      </div>
      <div class="label ml-20">
        <span mat-line>E-mail via Outlook</span>
        <span mat-line class="label__description">
          Envie suas dúvidas ao vendedor
        </span>
      </div>
    </a> -->

      <!-- YAHOO -->
      <!-- <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
      <div class="icon">
        <img src="assets/utils/yahoo-mail-logo.png" alt="yahoo-icon">
      </div>
      <div class="label ml-20">
        <span mat-line>E-mail via Yahoo</span>
        <span mat-line class="label__description">
          Envie suas dúvidas ao vendedor
        </span>
      </div>
    </a> -->

      <!-- EMAIL SERVICE -->
      <!-- <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
      <div class="icon">
        <img src="assets/utils/red-email-icon-clipart.png" alt="mail-icon">
      </div>
      <div class="label ml-20">
        <span mat-line>Serviço de e-mail</span>
        <span mat-line class="label__description">
          Envie suas dúvidas ao vendedor
        </span>
      </div>
    </a> -->
    </mat-nav-list>
  </div>
</div>