<mat-card class="mat-card mat-elevation-z8">
  <img src="assets/logos/Logo_U.M_Fundo_branco.png" class="header_img">
  <mat-card-title class="mat-card__title">
    Cadastro
  </mat-card-title>
  <hr class="hr">
  <form [formGroup]="register" class="mat-card__form">
    <!-- nome -->
    <mat-form-field class="mat-card__form__input">
      <mat-label>Nome Completo</mat-label>
      <input formControlName="name" type="text" matInput>
      <mat-error *ngIf="register.get('name')?.hasError('required')">
        Nome é <strong>Obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <!-- email -->
    <mat-form-field class="mat-card__form__input">
      <mat-label>E-mail</mat-label>
      <input formControlName="email" type="email" matInput>
      <mat-error *ngIf="register.get('email')?.hasError('email') && !register.get('email')?.hasError('required')">
        Favor inserir um E-mail válido
      </mat-error>
      <mat-error *ngIf="register.get('email')?.hasError('required')">
        Email é <strong>Obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <!-- data Nascimento -->
    <mat-form-field class="mat-card__form__input">
      <mat-label>Data Nascimento</mat-label>
      <input formControlName="date" type="date" matInput>
      <mat-error *ngIf="register.get('date')?.hasError('required')">
        Data de Nascimento é <strong>Obrigatória</strong>
      </mat-error>
    </mat-form-field>

    <!-- senha -->
    <mat-form-field class="mat-card__form__input">
      <mat-label>Senha</mat-label>
      <input formControlName="password" type="password" matInput>
      <mat-error
        *ngIf="register.get('password')?.hasError('minLength') && !register.get('password')?.hasError('required')">
        Favor inserir uma Senha válida
      </mat-error>
      <mat-error *ngIf="register.get('password')?.hasError('required')">
        Senha é <strong>Obrigatória</strong>
      </mat-error>
    </mat-form-field>

    <!-- Confirmação de Senha -->
    <mat-form-field class="mat-card__form__input">
      <mat-label>Confirmação da Senha</mat-label>
      <input formControlName="pass_confirm" type="password" matInput>
      <mat-error
        *ngIf="register.get('pass_confirm')?.hasError('minLength)') && !register.get('pass_confirm')?.hasError('required')">
        Favor inserir uma Senha válida
      </mat-error>
      <mat-error *ngIf="register.get('pass_confirm')?.hasError('required')">
        Confirmação de senha é <strong>Obrigatória</strong>
      </mat-error>
    </mat-form-field>
    <mat-card-actions class="mat-card__form__actions">
      <button (click)="doRegister()" mat-raised-button color="accent" class="w-100">
        Cadastrar
      </button>
      <hr class="mat-card__form__actions__hr">
      <span class="mat-card__form__actions__span">
        Já é cadastrado?
        <a routerLink='/auth/login' class="mat-card__form__actions__span__a">
          Faça seu login aqui
        </a>
      </span>
    </mat-card-actions>
  </form>
</mat-card>