@import "src/styles/colors.scss";
@import "src/styles/template.scss";

.container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .content{
        width: 100%;
        background-color: $app-primary-default;
        background-size: cover;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: $md-port-w-screen) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
