.container {

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-top: 50px;

    h1 {
      display: flex;
      flex-direction: row;
      align-items: center;

      .title-icon {
        display: flex;
        margin-right: 7.5px;
      }
    }
  }
}