<!-- LOADING -->
<app-publicacao-loading [show]="loadingDetails$ | async"></app-publicacao-loading>
<!-- LOADING -->
<div class="container">
  <div class="publicacao-design">
    <div class="publicacao-design__header">
      <h2>{{ (publicacao$ | async).titulo }}</h2>
    </div>
    <div class="publicacao-design__content">
      <div class="publicacao-design__content__sup-section">
        <div class="publicacao-design__content__sup-section__img">
          <img src="assets/publicacao/{{imageTest}}">
        </div>
        <div class="publicacao-design__content__sup-section__details">
          <mat-tab-group dynamicHeight class="tab-group">
            <mat-tab label="Descrição">
              <div class="content">
                {{ (publicacao$ | async).descricao }}
              </div>
            </mat-tab>
            <mat-tab label="Informações técnicas" *ngIf="(publicacao$ | async)?.detalhesTecnicos != null">
              <div class="content">
                {{ (publicacao$ | async)?.detalhesTecnicos }}
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="publicacao-design__content__tags">
        <mat-form-field appearance="outline" class="input-full-width mt-20">
          <mat-label>Tags & <i>Hashtags</i></mat-label>
          <mat-chip-list #tagsList aria-label="Tags da publicação" color="primary">
            <mat-chip> ads </mat-chip>
            <mat-chip> analise de sistemas </mat-chip>
            <mat-chip selectedChip> computacaoo </mat-chip>
            <mat-chip> tecnologia </mat-chip>
          </mat-chip-list>
          <input matInput type="text" disabled>
          <mat-hint align="start">
            As tags e <i>hashtags</i> fazem com que esta publicação seja facilmente localizada
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>