@import "src/styles/colors.scss";
@import "src/styles/template.scss";

$publicacao-img-min-width: 350px;

.container {

    padding: 15px;
    padding-bottom: 75px;
    overflow-x: hidden;

    .publicacao-design {

        &__header {
            font-weight: bold;
        }

        &__content {

            display: flex;
            flex-direction: column;
            row-gap: 10px;

            &__sup-section {

                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 17.5px;

                &__img {
    
                    img {
    
                        display: flex;
                        min-width: $publicacao-img-min-width;
                        width: 100%;
                        border-radius: 2.5px;
                        filter: drop-shadow(2.5px 2.5px 5px rgba(0, 0, 0, 0.75));
                    }
                }
    
                &__details {
    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .tab-group {

                        display: flex;
                        width: 100%;

                        * {
                            padding: 10px;
                            line-height: 23.5px;
                            text-align: justify;
                        }
                    }

                    .details-plus {

                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;

                        span.valor {
                            font-size: 1.25em;
                            font-weight: 500;
                        }

                        button.contact-vendedor {
                            background: $um-default-primary-bg;
                            color: $um-default-primary-text;
                        }
                    }
                }
            }

            &__tags {

                .input-full-width { width: 100%; }

                .chip-tag-0 { background: $primary-chip-bg; color: $primary-chip-text }
                .chip-tag-1 { background: $secondary-chip-bg; color: $secondary-chip-text }
            }

        }
    }
}

// Media query
@media only screen and (orientation: landscape) {

    
}
@media only screen and (max-width: calc(2 * #{$publicacao-img-min-width})) {
    .container {
        
        .publicacao-design {
         
            &__content {

                &__sup-section {
                    
                    display: flex;
                    flex-direction: column;
                    row-gap: 17.5px;

                    &__img {
    
                        img { width: 100%; min-width: unset; }
                    }
    
                    &__details { display: flex; }
                }
            }
        }
    }
}