@import "src/styles/colors.scss";
@import "src/styles/template.scss";

.menu-list {

    display: flex;
    padding: 10px 10px 0 0;
    width: 300px;
    max-width: 100%;

    @media screen and (max-width: 400px) {
        width: 225px;
    }

    &__ul, ul {
        display: flex;
        flex-direction: column;
        width: 85%;
        box-sizing: content-box;
        list-style: none;
        padding: 0;

        &__list-item {

            display: initial;
            width: 100%;
            justify-content: center;
            transition: ease 0.15s;

            &__a-item, a {

                display: flex;
                align-items: center;
                text-decoration: none;
                border-width: 0px;
                border-style: solid solid solid none;
                border-color: $menu-border-color;
                border-radius: 0 #{$rounded} #{$rounded} 0;
                padding-left: 25px;
                padding-top: 7.5px;
                padding-bottom: 7.5px;
                transition: ease 0.15s;

                .icon {
                    margin-right: 10px;
                    color: inherit;
                }
                span {
                    text-transform: uppercase;
                    color: inherit;
                }
            }
        }
    }
}

// Menu item config
.menu-item {
    background: $menu-item-color-bg;
    color: $menu-item-color-text;
}
.menu-item:hover {
    background: $menu-item-hover-bg;
}
.active {
    background: $menu-item-selected-bg !important;
    color: $menu-item-selected-text !important;
}
.active:hover  {
    background: initial;
    color: initial;
    filter: brightness(1.25) !important;
}