<div class="container">
  <div class="container__header">
    <h1>
      {{ (this.service.isEdicao$ | async) ? 'Editar' : 'Nova' }}
      publicação
    </h1>
  </div>
  
  <div class="container__content">

    <form [formGroup]="form" class="input-form">

      <mat-form-field class="input-full-width">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo" placeholder="Ex. Livro de estudos">
      </mat-form-field>
    
      <mat-form-field class="input-full-width">
        <mat-label>Descrição</mat-label>
        <textarea matInput #descricao [maxlength]="descricaoMaxLength" formControlName="descricao" placeholder="Uma breve descrição do item anunciado..."></textarea>
        <mat-hint align="start">
          <strong>Considere apenas informações relevantes</strong>
        </mat-hint>
        <mat-hint align="end">
          {{ descricao.value.length }} / {{ descricaoMaxLength }}
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="input-full-width mt-20">
        <mat-label>Valor do produto</mat-label>
        <!-- <span matPrefix>R$ &nbsp;</span> -->
        <input type="text" matInput placeholder="R$ 0.00" [textMask]="{mask: MASKS.currency.textMask}" autocomplete="off">
      </mat-form-field>

    </form>
  </div>
</div>