<!-- LOADING -->
<app-publicacao-loading [show]="loadingEdicao$ | async"></app-publicacao-loading>
<!-- LOADING -->
<div class="container">
  <div class="container__form">
    <div class="container__form__header">
      <h1>
        <span class="title-icon">
          <mat-icon>
            dashboard
          </mat-icon>
        </span>
        <span>
          {{ (this.service.isEdicao$ | async) ? 'Editando' : 'Criando' }}
        </span>
      </h1>
      <div class="actions">
        <button mat-button type="button" (click)="onCancel()">Cancelar</button>
        <button *ngIf="this.service.isEdicao$ | async; else btnCriar" 
          mat-raised-button class="input-submit" type="submit" 
          [disabled]="form.invalid && triedSave"
          (click)="editar()">
          Salvar
        </button>
        <ng-template #btnCriar>
          <button mat-raised-button class="input-submit" type="submit" 
            [disabled]="form.invalid && triedSave"
            (click)="criar()">
            Criar
          </button>
        </ng-template>
      </div>
    </div>
    
    <div class="container__form__content">

      <form [formGroup]="form" class="input-form">

        <mat-form-field class="input-full-width">
          <mat-label>Título</mat-label>
          <input matInput formControlName="titulo" placeholder="Ex. Livro de estudos" required>
            <mat-error  *ngIf="form.get('titulo')?.touched && form.get('titulo')?.hasError('required')">
              O título é obrigatório
            </mat-error>
            <mat-error *ngIf="form.get('titulo')?.hasError('invalid')">
              Informe um título válido
            </mat-error>
        </mat-form-field>
      
        <mat-form-field class="input-full-width description">
          <mat-label>Descrição</mat-label>
          <textarea matInput #descricao [maxlength]="descricaoMaxLength" 
            formControlName="descricao" 
            placeholder="Uma breve descrição do item anunciado..."
            required>
          </textarea>
          <mat-hint align="start">
            <strong>Considere as informações mais relevantes</strong>
          </mat-hint>
          <mat-hint align="end">
            {{ descricao.value.length }} / {{ descricaoMaxLength }}
          </mat-hint>
          <mat-error  *ngIf="form.get('descricao')?.touched && form.get('descricao')?.hasError('required')">
            A descrição é obrigatória
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width mt-20">
          <mat-label>Tags & <i>Hashtags</i></mat-label>
          <mat-chip-list #tagsList aria-label="Tags da publicação" color="primary">
            <mat-chip *ngFor="let tag of tags; index as i" [class]="'chip-tag-'+i%2"
              [selectable]="true" [removable]="true" [color]="'primary'"
              (removed)="removeTag(tag)">
              {{ tag.name }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <input matInput [placeholder]="tags.length < maxLengthTags ? 'Digite e tecle Enter para criar a tag':''"
                    class="input-full-width"
                    [matChipInputFor]="tagsList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addTag($event)"
                    [readonly]="tags.length >= maxLengthTags">
          <mat-hint align="start">
            As tags e <i>hashtags</i> fazem com que sua publicação alcance mais pessoas.
          </mat-hint>
          <mat-hint align="end" *ngIf="maxLengthTags > 0">
            {{ tags.length }} / {{ maxLengthTags }} {{ maxLengthTags == 1 ? 'tag' : 'tags' }}
          </mat-hint>
        </mat-form-field>

        <div class="div-input-group mt-20">
          <mat-form-field class="input-full-width">
            <mat-label>Valor do produto (R$)</mat-label>
            <!-- <span matPrefix>R$ &nbsp;</span> -->
            <input type="text" matInput 
              formControlName="valor" 
              placeholder="R$ 0.00" 
              [textMask]="{mask: MASKS.currency.textMask}" 
              autocomplete="off"
              required>
              <mat-error  *ngIf="form.get('valor')?.touched && form.get('valor')?.hasError('required')">
                O valor é obrigatório
              </mat-error>
              <mat-error *ngIf="form.get('valor')?.hasError('invalid')">
                Informe um valor válido
              </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-checkbox class="checkbox" color="primary" 
            [checked]="hasDetalhesTecnicos$ | async"
            (click)="changeDetalhesTecnicos()">
            Informar detalhes técnicos do produto
          </mat-checkbox>
        </div>

        <div *ngIf="hasDetalhesTecnicos$ | async" class="mt-20">
          <mat-form-field class="input-full-width">
            <mat-label>Detalhes técnicos</mat-label>
            <textarea matInput #detalhesTecnicos [maxlength]="detalhesTecnicosMaxLength" 
              formControlName="detalhesTecnicos" 
              placeholder="Detalhes técnicos deste produto..."
              required></textarea>
            <mat-hint align="start">
              <strong>Considere pontos técnios relevantes</strong>
            </mat-hint>
            <mat-hint align="end">
              {{ detalhesTecnicos.value.length }} / {{ detalhesTecnicosMaxLength }}
            </mat-hint>
            <mat-error  *ngIf="form.get('detalhesTecnicos')?.touched && form.get('detalhesTecnicos')?.hasError('required')">
              Atualmente os detalhes técnicos são obrigatórios
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-full-width input-group-file mt-20">
          <span class="input-group-file__title">
            {{ imgURL ? 'Foto selecionada' : 'Selecione uma foto' }}
          </span>
          <div class="input-group-file__file-input">
            <input #file type="file" id="input-file" accept="image/*" (change)="preview(file.files)" />
            <button type="button" mat-mini-fab color="primary" aria-label="Change picture">
              <label for="input-file">
                <mat-icon *ngIf="imgURL; else iconNew">edit</mat-icon>
                <ng-template #iconNew> <mat-icon>add</mat-icon> </ng-template>
              </label>
            </button>
            <mat-error *ngIf="message"> {{ message }} </mat-error>
          </div>
          <div class="preview">
            <img [src]="imgURL" *ngIf="imgURL">
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="container__design-bg">

  </div>
</div>