
<h1 class="ml-auto">Termos de uso da University Market</h1>

Você concorda em receber comunicações sobre a University Market por e-mail. A UM não
solicita informações pessoais para acesso à sua conta ou validações de segurança, não
compartilha suas informações privadas como senhas com ninguém. Os avisos enviados via
email serão considerados entregues na data de emissão.

<br>
<br>

As “Informações da Conta” servem para os potenciais compradores entrarem em contato
com os usuários vendedores.

<br>
<br>

<h3>Suspensão e Exclusão da Conta </h3>
Use sua conta com consciência, pois tanto ela como seus anúncios poderão ser suspensos
ou excluídos pela UM caso desrespeitem as regras de utilização da plataforma como:
<br>
<br>

Falsidade ou divergência nas informações da conta;
<br>
Mau uso;
<br>
Infração das regras de utilização da plataforma;
<br>
Violação da legislação, da moral, da ordem pública;
<br>
Utilização do Site para atividades ilícitas ou imorais;
<br>
Pela falta de pagamento em casos de funcionalidades pagas;
<br>
Qualquer atividade que, a critério da UM, não esteja de acordo com suas políticas;
<br>
Caso tenha reclamações sobre vendas ou compras;
<br>
<br>

<h3>Sua conta é pessoal e intransferível</h3>
Você não poderá compartilhar, transferir, vender ou alugar a sua conta para terceiros. A
utilização da conta será sempre de sua responsabilidade.

<br>
<br>
Cabe exclusivamente a Você a responsabilidade pelo anúncio, pelas informações contidas
nele, pelas características e condições do produto anunciado, pela entrega dos produtos e
serviços.

<br>
<br>
<h3>Antes de Anunciar </h3>
Antes de publicar o seu anúncio, as regras devem ser observadas por Você e dicas para
que seu anúncio tenha boa qualidade e relevância para os compradores interessados.

<br>
<br>
<h3>Anunciando </h3>
Para realizar o anúncio, você deverá preencher as informações do seu produto ou estado
de conservação e demais informações solicitadas.
As publicações deverão ser exclusivamente voltadas para a área acadêmica.

<mat-dialog-actions align="end" >
  <button mat-raised-button mat-dialog-close color="warn">Fechar</button>
</mat-dialog-actions>