// Arquivo com variaveis das cores padrao do aplicativo

@import "/src/styles.scss";

// Default primary color used in application
// $app-primary-default: $app-primary;
$app-primary-default: #4c00ff;

//=========================================================================

// Chips color
$primary-chip-bg: #6624ff;
$primary-chip-text: #ffffff;
$secondary-chip-bg: #4400e2;
$secondary-chip-text: #ffffff;