// Arquivo com variaveis das cores padrao do aplicativo

@import "/src/app-theme.scss";
@import "/src/styles.scss";

// Angular material theme palette - App default colors
$app-primary: mat-color($um-app-primary);
$app-accent: mat-color($um-app-accent);
$app-warn: mat-color($um-app-warn);

// Default primary color used in application
$app-primary-default: #4c00ff;

//=========================================================================

// Chips color
$primary-chip-bg: #6624ff;
$primary-chip-text: #ffffff;
$secondary-chip-bg: #4400e2;
$secondary-chip-text: #ffffff;