<div class="container">
  <div class="container__content">
    <h1>
      <span class="title-icon">
        <mat-icon>
          dashboard
        </mat-icon>
      </span>
      <span>
        Publicações
      </span>
    </h1>
    <div class="actions">
      <div class="actions">
        <button mat-stroked-button 
          class="input-submit" type="button" 
          [routerLink]="['edit',  NEW_RESOURCE]">
          Nova
        </button>
      </div>
    </div>
  </div>
  <div class="container__description">
    <mat-icon>info_outline</mat-icon>
    Exibindo os resultados mais relevantes
  </div>
</div>