@import "src/styles/colors.scss";
@import "src/styles/template.scss";

.header-toolbar {

  background: $app-accent; // Default project color
  color: #fff;
  height: $header-height;

  .spacer {
    flex: 1 1 auto;
  }
  
  &__img{
    width: 75px;
  }
}
