<h1 mat-dialog-title>Esqueci minha senha</h1>
<div class="content" mat-dialog-content>

  Informe o seu endereço de e-mail cadastrado. 

  <mat-divider></mat-divider>

  <mat-form-field class="mat-dialog-content__form" [formGroup]="form">
    <mat-label>E-mail</mat-label>
    <input formControlName="email" type="email" matInput class="mat-dialog-content__form__input" autocomplete="off">
    <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.errors">
      Informe um endereço de e-mail válido
    </mat-error>
  </mat-form-field>

  <p class="obs py-6">
    Um e-mail de redefinição será enviado ao seu e-mail.
  </p>

</div>
<div mat-dialog-actions class="actions" fxLayout="row" fxLayoutAlign="end center">

  <button mat-button mat-dialog-close>
    Cancelar
  </button>
  <button mat-raised-button color="accent" (click)="onEnviar()" [disabled]="form.invalid && (triedSave$ | async)">
    Enviar
  </button>
  
</div>