<h1 mat-dialog-title>Esqueci minha Senha</h1>
<hr class="hr">
<div mat-dialog-content class="mat-dialog-content">
    <span  class="mat-dialog-content__span" >Insira o endereço de e-mail da sua e enviaremos um link de redefinição de senha.</span>
    <mat-form-field class="mat-dialog-content__form">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput class="mat-dialog-content__form__input">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary">Enviar</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
</div>