<section class="container">

  <mat-card class="mat-card mat-elevation-z8">
    <img src="assets/logos/Logo_U.M_Fundo_branco.png" class="header_img">
    <mat-card-title class="mat-card__title">
      Cadastro
    </mat-card-title>
    <p class="secondary-text mt-20">
      Cadastre-se e tenha acesso ao conteúdo completo da plataforma
    </p>
    <hr class="hr">
    <form [formGroup]="form" class="mat-card__form" (ngSubmit)="doRegister()">
  
      <section class="dados-instituicao mat-card__form__input">
  
        <!-- instituição de ensino -->
        <mat-form-field appearance="legacy" class="mat-card__form__input">
          <mat-label>Instituição de ensino</mat-label>
          <mat-select formControlName="instituicao">
            <mat-option *ngFor="let instituicaoEnsino of (instituicaoList$ | async)" [value]="instituicaoEnsino.key">
              {{ instituicaoEnsino.value }}
            </mat-option>
          </mat-select>
          <mat-hint>
            Informe a sua instituição de ensino para prosseguir com o cadastro
          </mat-hint>
          <mat-error *ngIf="form?.get('instituicao')?.touched && form?.get('instituicao')?.errors">
            Você deve selecionar uma instituição de ensino para prosseguir com o cadastro
          </mat-error>
        </mat-form-field>
  
        <!-- curso -->
        <mat-form-field appearance="legacy" class="mat-card__form__input">
          <mat-label>Curso</mat-label>
          <mat-select formControlName="curso">
            <mat-option *ngFor="let curso of (cursosList$ | async)" [value]="curso.key">
              {{ curso.value }}
            </mat-option>
          </mat-select>
          <mat-hint>
            Informe seu curso atual
          </mat-hint>
          <mat-error *ngIf="form?.get('curso')?.touched && form?.get('curso')?.errors">
            Informe um curso válido
          </mat-error>
        </mat-form-field>
  
        <!-- registro academico -->
        <mat-form-field class="mat-card__form__input">
          <mat-label>Registro acadêmico</mat-label>
          <input formControlName="ra" type="text" matInput autocomplete="off">
          <mat-hint>
            Informe o seu número de registro acadêmico da sua instituição de ensino
          </mat-hint>
          <mat-error *ngIf="form?.get('ra')?.touched && form?.get('ra')?.errors">
            Informe um R.A. válido
          </mat-error>
        </mat-form-field>
  
      </section>
  
      <!-- nome -->
      <mat-form-field class="mat-card__form__input">
        <mat-label>Nome Completo</mat-label>
        <input formControlName="nome" type="text" matInput autocomplete="off">
        <mat-error *ngIf="form?.get('nome')?.touched && form?.get('nome')?.errors">
          Informe um nome válido
        </mat-error>
      </mat-form-field>
  
      <!-- email -->
      <mat-form-field class="mat-card__form__input">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" type="email" matInput autocomplete="off">
        <mat-error *ngIf="form?.get('email')?.touched && form?.get('email')?.errors">
          Informe um e-mail válido
        </mat-error>
      </mat-form-field>
  
      <!-- telefone -->
      <mat-form-field class="mat-card__form__input">
        <mat-label>Telefone</mat-label>
        <input formControlName="telefone" type="text" matInput autocomplete="off">
        <mat-error *ngIf="form?.get('telefone')?.touched && form?.get('telefone')?.errors">
          Informe um telefone válido
        </mat-error>
      </mat-form-field>
  
      <!-- data Nascimento -->
      <mat-form-field class="mat-card__form__input">
        <mat-label>Data Nascimento</mat-label>
        <input formControlName="dataNascimento" type="date" matInput autocomplete="off">
        <mat-error *ngIf="form?.get('dataNascimento')?.touched && form?.get('dataNascimento')?.errors">
          Informe uma data de nascimento válida
        </mat-error>
      </mat-form-field>
  
      <!-- senha -->
      <mat-form-field class="mat-card__form__input">
        <mat-label>Senha</mat-label>
        <input formControlName="senha" type="password" matInput autocomplete="off">
        <mat-error
          *ngIf="form?.get('senha')?.touched && form?.get('senha')?.errors && !form?.get('senha')?.hasError('minlength')">
          Informe uma senha válida
        </mat-error>
        <mat-error *ngIf="form?.get('senha')?.touched && form?.get('senha')?.errors && form?.get('senha')?.hasError('minlength')">
          A senha deve ter, no mínimo, {{ passwordMinLenght }} caracteres
        </mat-error>
      </mat-form-field>
  
      <!-- Confirmação de Senha -->
      <mat-form-field class="mat-card__form__input">
        <mat-label>Confirmação da Senha</mat-label>
        <input formControlName="confirmacaoSenha" type="password" matInput autocomplete="off">
        <mat-error *ngIf="form?.get('confirmacaoSenha')?.touched && form?.get('confirmacaoSenha')?.errors">
          As senhas informadas devem ser iguais
        </mat-error>
      </mat-form-field>
      <mat-card-actions class="mat-card__form__actions">
        <button type="submit" mat-raised-button color="accent" class="w-100" [disabled]="(triedSave$ | async) && form.invalid">
          Cadastrar
        </button>
        <hr class="mat-card__form__actions__hr">
        <span class="mat-card__form__actions__span">
          Já é cadastrado?
          <a routerLink='/auth/login' class="mat-card__form__actions__span__a">
            Faça seu login aqui
          </a>
        </span>
      </mat-card-actions>
    </form>
  </mat-card>
</section>