@import "src/styles/template.scss";

.container {

    .publicacao-card {
        max-width: 100%;

        &__content {

            &__important-tags {
                display: flex;
                flex-direction: row;
                margin-bottom: 5px;
            }

            &__description {
                text-align: justify;
                min-height: 60px;
                max-height: 60px;
            }
        }

        .publicacao-image {

          height: 175px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          > img {
            max-height: 100%;
            max-width: 100%;
          }

        }

        &__actions {
            display: flex;
            justify-content: space-between;

            .content-price {
                font-size: 1.25em;
            }
        }
    }
    
    .publicacao-header-image {
        background-image: url('/assets/logos/logo-university-market-branco-azul.png');
        background-size: cover;
    }
}

// Media query
@media only screen and (orientation: landscape) {

}
@media only screen and (max-width: $md-port-w-screen) {

}