<div class="menu-list">
  <ul class="menu-list__ul">
    <!-- HOMEPAGE MENU -->
    <li class="menu-list__ul__list-item">
      <a 
        [routerLink]="route.home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="onSelect.emit()"
        class="menu-list__ul__list-item__a-item menu-item"
        >
        <mat-icon class="icon">
          home
        </mat-icon>
        <span>
          Homepage
        </span>
      </a>
    </li>
    <!-- PERFIL MENU -->
    <li class="menu-list__ul__list-item">
      <a 
        [routerLink]="route.profile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="onSelect.emit()"
        class="menu-list__ul__list-item__a-item menu-item"
        >
        <mat-icon class="icon">
          person
        </mat-icon>
        <span>
          Perfil
        </span>
      </a>
    </li>
    <!-- PUBLICACOES MENU -->
    <li class="menu-list__ul__list-item">
      <a 
        [routerLink]="route.publicacao"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="onSelect.emit()"
        class="menu-list__ul__list-item__a-item menu-item"
        >
        <mat-icon class="icon">
          dashboard
        </mat-icon>
        <span>
          Publicações
        </span>
      </a>
    </li>
    <!-- PESQUISAR MENU -->
    <li class="menu-list__ul__list-item">
      <a 
        [routerLink]="route.search"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="onSelect.emit()"
        class="menu-list__ul__list-item__a-item menu-item"
        >
        <mat-icon class="icon">
          search
        </mat-icon>
        <span>
          Pesquisar
        </span>
      </a>
    </li>
  </ul>
</div>