<h1 mat-dialog-title>
  Editar Informações
</h1>
<span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <mat-icon fxLayout="row" fxLayoutAlign="start center" color='accent'>privacy_tip</mat-icon>
  Este contato será mostrado em todas suas publicações.
</span>
<hr>
  <mat-dialog-actions align="end" class="form__actions">
    <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-raised-button color="accent">Confirmar</button>
  </mat-dialog-actions>