@import "src/styles/colors.scss";
@import "src/styles/template.scss";

.container {

    &__content {
        
        .menus-header {
            display: none;
            flex-direction: row;
            justify-content: center;
            flex: 100%;

            * { width: 100%; }
        }

        .section-content {

            display: flex;

            &__card-main {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
    }
}

// Media query default
@media only screen and (orientation: landscape) {

}
@media only screen and (max-width: 700px) {

    .container {
        
        &__content {
            .menus-header { display: flex; }
        }
    }
}
@media only screen and (max-width: $md-port-w-screen) {

}