// Arquivo com variaveis das cores padrao do aplicativo

// Application defines
$um-background: #e4e4e4;

// Primary colors
$um-default-primary-bg: #4c00ff;
$um-default-primary-text: #ffffff;

// Menu sidebar color
$menu-item-hover-bg: #e4e4e4;

$menu-border-color: transparent;

$menu-item-color-bg: #ffffff;
$menu-item-color-text: #4c00ff;

$menu-item-selected-text: #ffffff;
$menu-item-selected-bg: #4c00ff;

// Chips color
$primary-chip-bg: #6624ff;
$primary-chip-text: #ffffff;
$secondary-chip-bg: #4400e2;
$secondary-chip-text: #ffffff;