<div class="container">
    <div class="w-75 m-auto">
        <app-grid-courses></app-grid-courses>
    </div>
    <div class="w-75 m-auto">
        <app-home-publicacao-list-header></app-home-publicacao-list-header>
    </div>
    <div class="mb-20 w-75 m-auto">
      <mat-divider></mat-divider>
    </div>
    <div class="mb-50 w-75 m-auto">
        <app-home-publicacao-list></app-home-publicacao-list>
    </div> 
    <div class="mb-20 w-75 m-auto">
         <app-home-curso-publicacao></app-home-curso-publicacao>
      </div>  
    <div class="container__header w-75 m-auto">
        <app-about-um-header></app-about-um-header>
    </div>
    <div class="mb-20 w-75 m-auto">
        <mat-divider></mat-divider>
      </div>
    <div class="mb-20 w-75 m-auto">
        <app-about-um></app-about-um>
    </div> 
    <div class="w-100">
        <app-home-footer></app-home-footer>
    </div> 
</div>