@import "src/styles/colors.scss";
@import "src/styles/template.scss";

.header-toolbar {
  background: $app-accent; // Default app theme palette
  color: #fff;
  height: $header-height;

  &__spacer {
    flex: 1 1 auto;
  }

  &__btn {
    margin-right: 15px;

    &__logo {
      display: flex;
      width: 45px;
    }
  }
}