<h1 mat-dialog-title>
  Denunciar Publicação
</h1>
<!-- <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <mat-icon fxLayout="row" fxLayoutAlign="start center" color='accent'>privacy_tip</mat-icon>
  Livro de análise e desenvolvimento de sistemas.
</span> -->
<hr>
<h3>Qual o problema deste anúncio?</h3>
<form class="form" [formGroup]="form">
  <div>

  <mat-radio-group formControlName="tipo_denuncia_id">
      <mat-radio-button class="w-100 mb-10" *ngFor="let denuncia of denuncias" value="{{denuncia.id}}" >{{denuncia.descricao}}
      </mat-radio-button>
  </mat-radio-group>

    <mat-form-field class=" full-width pt-10">
      <textarea formControlName="motivo" maxlength="150" matInput
        placeholder="Explique em poucas palavras o motivo de sua denúncia."></textarea>
      <mat-error *ngIf="form.get('motivo')?.touched && form.get('motivo')?.errors">
        O motivo da denúncia é obrigatório.
      </mat-error>
    </mat-form-field>

  </div>
  <mat-dialog-actions align="end" class="form__actions">
    <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-raised-button color="accent" (click)="cadastrarDenuncia()">Confirmar</button>
  </mat-dialog-actions>
</form>