@import "src/styles/colors.scss";

.accordion-headers .mat-expansion-panel-header-title,
.accordion-headers .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion-headers .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 25px;

    div.informacoes {
      display: flex;
      flex-direction: row;
      gap: 15px;
      justify-content: flex-start;
      align-items: center;
      
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
      }
  
      &__data {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        align-items: flex-start;
  
        label {
          color: #707070;
        }
        span {
          color: #000;
        }
        span.uppercase {
          text-transform: uppercase;
        }
      }
      .actions{
          margin: 0px;
      }
    }
  }


.secondary-text {
  color: #707070;
}