<div class="container">
  <div class="container__header">
    <app-profile-publicacoes-header [hasPublicacoes]="publicacoesList?.length > 0"></app-profile-publicacoes-header>
  </div>

  <!-- <mat-divider></mat-divider> -->

  <div class="container__content">
    <div class="grid-publicacoes mt-10">
      
      <app-profile-publicacao-item *ngFor="let publicacao of publicacoesList" [publicacao]='publicacao' (onDelete)="excluir($event)">
      </app-profile-publicacao-item>

      <app-profile-publicacao-item-novo (click)="onNovaPublicacaoClick()">
      </app-profile-publicacao-item-novo>
      
    </div>
  </div>
</div>