@import "src/styles/colors.scss";

.header_img {
  width: 100px;
}

div.bg-header {
  background: $app-accent;
  height: 150px;
  position: relative;
}

.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  position: relative;
  top: -100px;

  &__title {
    font-size: 3em;
    font-weight: 300;
    padding: 32px;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;

    &__input {
      padding: 10px 0px 0px 0px;
      width: 100%;
    }

    .login-btn {
      margin-top: 15px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;

    &__span {
      margin: 10px;
    }
    &__a {
      text-decoration: none;
      color: $app-accent;
    }

    &__a:hover {
      cursor: pointer;
    }

    &__hr {
      width: 100%;
      opacity: 50%;
    }
  }
}

.hr {
  font-weight: bold;
  width: 90%;
  opacity: 40%;
}

.incorrect-login {
  text-align: left;
  color: $app-warn;
}

@media screen and (max-width: 560px) {
  .mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }
}