@import "src/styles/colors.scss";

.header_img {
  width: 100px;
}

.container {
  position: relative;
  display: flex;
  background: linear-gradient($app-warn 35%, transparent 35%);

  div.bg-header {
    background: $app-accent;
    height: 150px;
    position: relative;
  }

  .mat-card {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    margin-top: 50px;

    > header {

      .title {

        > h2 {

          font-size: 1.75em;
          font-weight: 300;
        }
      }
    }

    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
    }

    &__actions {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;

      &__a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      &__hr {
        width: 100%;
        opacity: 50%;
      }
    }
  }
}

.hr {
  font-weight: bold;
  width: 90%;
  opacity: 40%;
}

.incorrect-login {
  text-align: left;
  color: $app-warn;
}

@media screen and (max-width: 560px) {
  .mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }
}
