<mat-card   class="mat-card mat-elevation-z8">
    <img src="assets/logos/Logo_U.M_Fundo_branco.png" class="header_img">
    <mat-card-title class="mat-card__title">
        Login
    </mat-card-title>
    <hr class="hr">
    <form [formGroup]="form" class="mat-card__form">
        <mat-form-field class="mat-card__form__input">
          <mat-label>E-mail</mat-label>
          <input formControlName="email" type="email" matInput autocomplete="off">
          <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.errors">
            Informe um e-mail válido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-card__form__input">
            <mat-label>Senha</mat-label>
            <input formControlName="senha" type="password" matInput>
            <mat-error *ngIf="form.get('senha')?.touched && form.get('senha')?.errors">
                Informe uma senha válida
            </mat-error>
        </mat-form-field>
        <div *ngIf="(incorrectLogin$ | async)" class="incorrect-login">
          <span>E-mail ou senha incorretos. Tente novamente</span>
        </div>
        <button mat-raised-button class="w-100 login-btn"
          (click)="doLogin()"
          color="accent"
          [disabled]="form.invalid && (triedLogin$ | async)">
            Login
        </button>
    </form>
    <mat-card-actions class="mat-card__actions">
        <a (click)="forgot()" class="mat-card__actions__a">
            Esqueci minha senha
        </a>
        <hr class="mat-card__actions__hr">
        <span class="mat-card__actions__span">
            Novo no University Market?
            <a routerLink='/auth/register' class="mat-card__actions__a">
                Cadastre-se aqui
            </a>
        </span>
    </mat-card-actions>
</mat-card>