/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
body *::selection {
    background: #4c00ff;
    color: #ffffff;
}
body *::-moz-selection {
    background: #4c00ff;
    color: #ffffff;
}

.noselect {

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

//=========================================================================
/*
 * Global classes configuration
 *
 */

.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
}


//=========================================================================
/*
 * Snackbar styles for success, error, warning and notify
 *
 */
 $snackbar-default-font-weight: 500;
 .snackbar-instance {
     font-weight: $snackbar-default-font-weight;
     button {
         font-weight: initial;
     }
 }
 $snackbar-notify-bg-color: #4c00ff;
 $snackbar-notify-font-color: #fff;
 .snackbar-notify {
     background: $snackbar-notify-bg-color !important;
     color: $snackbar-notify-font-color !important;
     button {
         color: $snackbar-notify-font-color !important;
     }
 }
 $snackbar-success-bg-color: #009e47;
 $snackbar-success-font-color: #fff;
 .snackbar-success {
     background: $snackbar-success-bg-color !important;
     color: $snackbar-success-font-color !important;
     button {
         color: $snackbar-success-font-color !important;
     }
 }
 $snackbar-error-bg-color: #db1111;
 $snackbar-error-font-color: #fff;
 .snackbar-error {
     background: $snackbar-error-bg-color !important;
     color: $snackbar-error-font-color !important;
     button {
         color: $snackbar-error-font-color !important;
     }
 }
 $snackbar-warning-bg-color: #ffe600;
 $snackbar-warning-font-color: #3e3e3e;
 .snackbar-warning {
     background: $snackbar-warning-bg-color !important;
     color: $snackbar-warning-font-color !important;
     button {
         color: $snackbar-warning-font-color !important;
     }
 }

//=========================================================================
/*
 * Dialog styles
 *
 */
// mat-dialog-container, .mat-dialog-container {
//   padding: 0px !important;
// }