<!-- LOADING -->
<app-publicacao-loading [show]="loadingDetails$ | async"></app-publicacao-loading>
<!-- LOADING -->
<div class="publicacao-detalhe">
  <div class="container">
    <div class="publicacao-design">
      <div class="publicacao-design__header">
        <h2>{{ publicacao.titulo }}</h2>
      </div>
      <div class="publicacao-design__content">
        <div class="publicacao-design__content__sup-section">
          <div class="publicacao-design__content__sup-section__img">
            <img 
              #publicacaoImg
              alt="publicacao-imagem"
              [src]="publicacao.pathImagem ? 
              publicacao.pathImagem : 'assets/publicacao/' + noImage">
          </div>
          <div class="publicacao-design__content__sup-section__details">
            <mat-tab-group dynamicHeight class="tab-group">
              <mat-tab label="Descrição">
                <div class="content">
                  {{ publicacao.descricao }}
                </div>
              </mat-tab>
              <mat-tab label="Informações técnicas" *ngIf="publicacao?.especificacoesTecnicas != null">
                <div class="content">
                  {{ publicacao?.especificacoesTecnicas }}
                </div>
              </mat-tab>
            </mat-tab-group>
            <div class="details-plus">
              <mat-card>
                <mat-card-subtitle>Valor do anúncio</mat-card-subtitle>
                <span class="valor">
                  {{ publicacao.valor | currencyBrazil }}
                </span>
              </mat-card>
              <button mat-raised-button type="button" 
                (click)="contatarVendedor()"
                color="accent"
                class="full-width">
                Entrar em contato com o vendedor
              </button>
            </div>
          </div>
        </div>
        <div class="publicacao-design__content__tags" *ngIf="tags.length > 0; else noTags">
          <mat-form-field appearance="outline" class="input-full-width mt-20">
            <mat-label>Tags & <i>Hashtags</i></mat-label>
            <mat-chip-list #tagsList aria-label="Tags da publicação" color="primary">
              <mat-chip *ngFor="let tag of tags; index as i" [class]="'chip-tag-'+i%2">
                {{ tag.name }}
              </mat-chip>
            </mat-chip-list>
            <input matInput type="text" disabled>
            <mat-hint align="start">
              As tags e <i>hashtags</i> fazem com que esta publicação seja facilmente localizada
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noTags>
  <mat-form-field appearance="outline" class="input-full-width mt-20">
    <mat-label>Tags & <i>Hashtags</i></mat-label>
    <input matInput type="text" value="Esta publicação não contém tags cadastradas" readonly>
    <mat-hint align="start">
      As tags e <i>hashtags</i> fazem com que esta publicação seja facilmente localizada
    </mat-hint>
  </mat-form-field>
</ng-template>