@import "src/styles/colors.scss";
@import "src/styles/template.scss";

.app-container {

    background: $um-background;
    width: 100%;
    height: #{$content-height};
    padding: 5px;
    box-sizing: border-box;
}